.form-block {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  border: none;
  outline: 1px solid red;
}

.form-block__title {
  padding: 0;
  margin: 0;
  padding-bottom: 2px;
  padding-top: 20px;
  border-top: 1px solid #b2b2b2;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @dark-color;
  text-align: center;
}

.form-block__field {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.form-block__field label {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @base-color;
}

.form-block__field input {
  padding: 16px 0;
  padding-left: 20px;
  margin: 0;
  margin-left: 12px;
  background-color: @form-color;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  outline: none;
}

.form-block__field input::-webkit-input-placeholder {
  color: @dark-color;
}

.form-block__list {
  padding: 0;
  margin: 0;
  list-style: 0;
}
