.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  outline: 1px solid green;
}

.reasons {
  width: 320px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.page-main__title {
  display: block;
  font-family: inherit;
  color: @dark-color;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: 35px;
}

.page-main__description {
  font-family: inherit;
  color: @base-color;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 5px;
}

.reasons__list {
  padding: 0;
  margin: 0;
}

.reasons-solution {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reasons-solution__item {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

.reasons-solution__wrapper {
  background-color: rgb(129, 179, 210);
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.reasons-solution__wrapper--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% top;
  padding: 0;
  margin: 0;
  padding-top: 58px;
}

.reasons-solution__title {
  padding: 0;
  margin: 0;
  padding-top: 21.5px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @dark-color;
}

.reasons-solution__title--white {
  padding: 0;
  margin: 0;
  padding-top: 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @fancy-color;
}

.reasons-solution__number {
  font-family: inherit;
  color: @base-color;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  display: block;
}

.reasons-solution__number--white {
  font-family: inherit;
  color: @fancy-color;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  display: block;
}

.reasons-solution__description {
  font-family: inherit;
  color: @base-color;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
}

.reasons-solution__description--white {
  font-family: inherit;
  color: @fancy-color;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
}

.reasons-solution__image {
  padding: 0;
  margin: 0;
}

.reasons__reference {
  padding: 0;
  margin: 0;
}

.reference-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: @fancy-color;
  padding-top: 25px;
  padding-bottom: 14px;
  text-align: left;
}

.reference-list__item {
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 70px;
}

.reference-list__item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  width: 38px;
  height: 38px;
  background-image: url("../img/icon-house.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: #81b3d2;
}

.reference-list__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 25px;
  width: 34px;
  height: 40px;
  background-image: url("../img/icon-gift.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: #81b3d2;
}

.reference-list__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  width: 40px;
  height: 36px;
  background-image: url("../img/icon-burger.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: #81b3d2;
}

.reference-list__theme {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @dark-color;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

.reference-list__comment {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @base-color;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 23px;
  width: 215px;
}
